@page "/C_Personas"


@inject PersonaBLL personas
@inject OcupacionesBLL ocupaciones

<PageTitle>Consulta Persona.</PageTitle>

<head>
    <style>
        body{
            background-image: url('https://wallpaper.dog/large/10814716.jpg');
            background-attachment: fixed;
            background-size: cover;
            font-family: monospace;
            margin: 0;
            padding: 0;
        }
    </style>

</head>


<body>
    <div class="container">

        <div class="card text-dark bg-light mb-3 shadow-lgaccordion-body">

            <div class="card-header">

                <h4>Consulta de Personas.</h4>

            </div>

            <div class="card-body">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Nacimientio</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ocupacion</th>
                            <th scope="col">Balance</th>
                            

                        </tr>
                    </thead>
                    <tbody>

                        @foreach(var persona in L_Persona)
                        {
                            <tr>
                                <td>@persona.PersonaID</td>
                                <td>@persona.Nombre</td>
                                <td>@persona.Telefono</td>
                                <td>@persona.Celular</td>
                                <td>@persona.FechaNacimiento</td>
                                <td>@persona.Email</td>
                                <td>@ocupaciones.Buscar(persona.OcupacionID).Descripcion</td>
                                <td>@persona.Balance</td>
                            </tr>
                        }

                    </tbody>
                       
                </table>

            </div>

        </div>

    </div>
</body>


@code
{


    public List<Persona> L_Persona = new List<Persona>();

    protected override async Task OnInitializedAsync()
    {
        L_Persona= personas.GetList();
    }

}