@page "/C_Prestamos"

@inject PrestamoBLL prestamos
@inject PersonaBLL personas

<PageTitle>Consulata Prestamos.</PageTitle>

<head>

    <style>
            body{
                background-image: url('https://wallpaper.dog/large/10814716.jpg');
                background-attachment: fixed;
                background-size: cover;
                font-family: monospace;
                margin: 0;
                padding: 0;
            }
    </style>
</head>


<body>
    <div class="container">

        <div class="card text-dark bg-light mb-3 shadow-lgaccordion-body">

            <div class="card-header">

                <h4>Consulta de Personas.</h4>

            </div>

            <div class="card-body">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PersonaID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha prestamo</th>
                            <th scope="col">Fecha vencimiento</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Monto</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach(var item in L_Prestamo)
                        {
                            <tr>
                                <td>@item.PrestamoID</td>
                                <td>@personas.Buscar(item.PersonaID).PersonaID</td>
                                <td>@personas.Buscar(item.PersonaID).Nombre</td>
                                <td>@item.Fecha</td>
                                <td>@item.Vence</td>
                                <td>@item.Concepto</td>
                                <td>@item.Monto</td>
                                
                            </tr>
                        }
                    </tbody>
                    
                       
                </table>

            </div>

        </div>

    </div>
</body>


@code
{
    public List<Prestamo> L_Prestamo = new List<Prestamo>();

        protected override void OnInitialized()
        {
            L_Prestamo = prestamos.GetList();
        }
}

